In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

WARNING:tensorflow:From C:\Users\awhun\anaconda3\anaconda\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('Resources/applicants_data.csv')

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
#Printing columns that are object type
list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
print(categorical_variables)

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

C:\Users\awhun\anaconda3\anaconda\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
#Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df,applicant_data_df[['STATUS','ASK_AMT','IS_SUCCESSFUL']]], axis=1)

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = applicant_data_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = applicant_data_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590

All object columns kept reporting error when trying to scale the data. For this purpose all of the object columns have been dropped in order to scale the data. May have impact on future code, but determined this was best solution to move forward.

In [13]:
#Listing all object columns
print(categorical_variables)

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [14]:
#Droping object columns
X=X.drop(columns=['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'])

In [15]:

# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

In [16]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

2

In [18]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [19]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + 1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

1

In [20]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

1

In [21]:
# Create the Sequential model instance
nn = Sequential()

WARNING:tensorflow:From C:\Users\awhun\anaconda3\anaconda\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [22]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [23]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [24]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [25]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1)                 3

 dense_1 (Dense)             (None, 1)                 2

 dense_2 (Dense)             (None, 1)                 2

=================================================================
Total params: 7 (28.00 Byte)
Trainable params: 7 (28.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [26]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\awhun\anaconda3\anaconda\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [27]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
WARNING:tensorflow:From C:\Users\awhun\anaconda3\anaconda\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\awhun\anaconda3\anaconda\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 3s 2ms/step - loss: 0.6915 - accuracy: 0.5334
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335

In [28]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6915 - accuracy: 0.5292 - 551ms/epoch - 2ms/step
Loss: 0.6915332078933716, Accuracy: 0.5292128324508667

In [29]:
# Set the model's file path
file_path = Path('AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

C:\Users\awhun\anaconda3\anaconda\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

### Alternative Model 1

Adding an extra layer to original model

In [30]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

2

In [31]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [32]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 4

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

4

In [33]:
#Define number of hidden nodes for second layer
hidden_nodes_layer2_A1=4

#Review the number of hidden nodes in second layer
hidden_nodes_layer2_A1

4

In [34]:
#Define number of hidden nodes for third layer
hidden_nodes_layer3_A1=4

#Review the number of hidden nodes in third layer
hidden_nodes_layer3_A1

4

In [35]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [36]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

#Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))

#Third hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer3_A1, activation='relu'))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 4)                 12

 dense_4 (Dense)             (None, 4)                 20

 dense_5 (Dense)             (None, 4)                 20

 dense_6 (Dense)             (None, 1)                 5

=================================================================
Total params: 57 (228.00 Byte)
Trainable params: 57 (228.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [37]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [38]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.6920 - accuracy: 0.5342
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6916 - accuracy: 0.5346
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6914 - accuracy: 0.5342
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5344
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5346
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5346
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5344
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5346
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5345
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5349
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5349
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5349
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5346
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5349
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5351
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5353
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5348
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5358
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5355
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5355
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5355
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5358
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5356
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5359
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5354
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5356
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5359
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5362
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5359
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5360
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5364
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5362
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5363
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5360
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5366
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5370
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5360
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5362
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5364
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5369
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5369
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5370
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5371
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5371
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5373
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5378

#### Alternative Model 2

Adding same amount of layers but more nodes to original model

In [39]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

2

In [40]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [41]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 8

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

8

In [42]:
#Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2=8

#Review the number of hidden nodes in second layer
hidden_nodes_layer2_A2

8

In [43]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [44]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

#Second hidden layer
nn.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 8)                 24

 dense_9 (Dense)             (None, 1)                 9

=================================================================
Total params: 33 (132.00 Byte)
Trainable params: 33 (132.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [45]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [46]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6940 - accuracy: 0.5311
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6927 - accuracy: 0.5352
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6925 - accuracy: 0.5352
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6923 - accuracy: 0.5352
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.5353
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6918 - accuracy: 0.5353
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6916 - accuracy: 0.5349
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6915 - accuracy: 0.5355
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5352
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5351
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5351
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5351
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5353
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5349
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5353
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5355
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5354
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5351
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5353
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5352
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5353
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5355
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5351
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5355
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5353
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5353
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5351
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5353
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5354
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5353
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5355
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5352
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5352
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5354
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5352
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5351
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5352
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5353
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5353
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5357
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5355
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5353
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5353
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5352
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5358
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5353
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5355
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5352

###Alternative Model 3

Adding more nodes and an extra layer to alternative model

In [57]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

2

In [58]:
# Define the number of neurons in the output layer
number_output_neurons_A3 = 1

In [59]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A3 = 8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1_A3

8

In [60]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A3 = 8

# Review the number hidden nodes in the second layer
hidden_nodes_layer2_A3

8

In [61]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A3 = 8

# Review the number hidden nodes in the third layer
hidden_nodes_layer3_A3

8

In [62]:
# Create the Sequential model instance
nn_A3 = Sequential()

In [63]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A3, input_dim=number_input_features, activation="relu"))

#Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A3, activation="relu"))

#Third hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer3_A3, activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A3, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 4)                 12

 dense_4 (Dense)             (None, 4)                 20

 dense_5 (Dense)             (None, 4)                 20

 dense_6 (Dense)             (None, 1)                 5

 dense_10 (Dense)            (None, 8)                 16

 dense_11 (Dense)            (None, 8)                 72

 dense_12 (Dense)            (None, 8)                 72

 dense_13 (Dense)            (None, 8)                 72

 dense_14 (Dense)            (None, 8)                 72

 dense_15 (Dense)            (None, 1)                 9

 dense_16 (Dense)            (None, 8)                 16

 dense_17 (Dense)            (None, 8)                 72

 dense_18 (Dense)            (None, 8)                 72

 dense_19 (Dense)            (None, 1)                 9

=================================================================
Total params: 539 (2.11 KB)
Trainable params: 539 (2.11 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [67]:
# Compile the Sequential model
nn_A3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [68]:
# Fit the model using 50 epochs and the training data
fit_model_A3 = nn_A3.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 5.2727 - accuracy: 0.4630
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 5.2727 - accuracy: 0.4630

In [69]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6915 - accuracy: 0.5292 - 398ms/epoch - 1ms/step
Loss: 0.6915332078933716, Accuracy: 0.5292128324508667

In [70]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.6930 - accuracy: 0.5292 - 865ms/epoch - 3ms/step
Loss: 0.6929876804351807, Accuracy: 0.5292128324508667

In [71]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.6913 - accuracy: 0.5317 - 510ms/epoch - 2ms/step
Loss: 0.6912552118301392, Accuracy: 0.5316618084907532

In [72]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
268/268 - 0s - loss: 5.2244 - accuracy: 0.4657 - 469ms/epoch - 2ms/step
Loss: 5.224430561065674, Accuracy: 0.46565598249435425

In [73]:
# Set the file path for the first alternative model
file_path = Path('Alt_1.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [74]:
# Set the file path for the second alternative model
file_path = Path('Alt_2.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path)

In [75]:
#Set the file path for the third alternative model
file_path=Path('Alt_3.h5')

#Export your model to a HDF5 file
nn_A3.save(file_path)